<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheeet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">

<nav class="navbar navbar-inverse fixed-top py-0">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <ul class="nav navbar-nav">
                <li class="active"> <a href="#" class="navbar-brand">Task-Dashboard</a></li>

                <li><a href="/tasks">Home</a></li>

                <li><a href="/tasks/new">New post</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <% if(!currentUser){ %>
                    <li><a href="/select">Login</a></li>
                    <li><a href="/signup">SignUp</a></li>
                    <% } else { %>
                        <li> <a href="#">Signed In as <%= currentUser.username%></a></li>
                        <li><a href="/logout">Logout</a></li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <% if (error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
            <% if (success && success.length>0) { %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
                <% } %>
</div>


<h1 class="text-primary">Task-Dashboard !</h1>

<% tasks.forEach(function(task){ %>
    <div>
        <h3>
            <%=task.title%>
        </h3>
        <img src="<%= task.image%>">

        <p>
            <%= task.body%>
        </p>
        <p><strong>Points Rewards</strong> From 1 to 500</p>
        <p><b>status</b>-<select>Status
            <option>On-going</option>
            <option>Finished</option>
        </select></p>
        <p>
            <strong> <%= task.author%></strong>-
            <%= task.text %>
        </p>
        <p> <strong>points</strong>-
            <%= task.points %>
        </p>

        <span><%=task.created.toDateString()%></span><br>
        <button class="btn btn-sm-warning"><a href="/tasks/<%= task._id %>/comments/new">Add Comment</a></button><br>
        <a href="/tasks/<%= task._id%>"> Click to view</a>
    </div>

    <% }) %>